# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

datasets/
# Environment variables
*.env
.env.*

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/

# Pytest / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Build / distribution
build/
dist/
*.egg-info/

# Render or deployment caches
.render-build/
m